{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row mb-3">
    <h1>Your pictures</h1>
  </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info">{{message}}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="row">
    {% for pic in pictures %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img
          class="bd-placeholder-img card-img-top"
          src="{{pic.path}}"
          width="100%"
          height="225"
          alt="150"
          srcset=""
          style="object-fit: contain"
        />
        <div class="card-body">
          <p class="card-text">{{pic.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a class="btn btn-sm btn-outline-secondary" href="/pictures/edit/{{pic.id}}"
                >Редактировать</a
              >
              <form action="/pictures/delete/{{pic.id}}" method="post">
                <button class="btn btn-sm btn-outline-secondary">
                  Удалить
                </button>
              </form>
            </div>
            <small class="text-muted">{{pic.size}}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
