<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add new tag</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
          <li><a href="/" role="button"> Go back to the main page </a></li>
        </ul>
      </nav>
      <form method="POST" action="/tag">
        <div style="padding: 10px">
          <label
            >Enter the tag name:
            <input type="text" name="name" required />
          </label>
        </div>
        <div class="grid">
          <button type="reset" class="secondary">Reset</button>
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
  </body>
</html>
